.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  /*
  .input-control{
    display: flex;
    flex-direction: column;
  }
  .input-control input{
    border: 2px solid whitesmoke;
    border-radius: 4px;
    display: block;
  
  }*/
  .input-control input:focus{
    outline: 0;
  }
  .input-control.success input{
    border-color: green;
  }
  .input-control.error input{
    border-color: red;
  }
  .input-control.error {
   color: red;

 
  }
